* {
	margin: 0;
	padding: 0;
}

.game {
	width: 500px;
}

.canvas {
	width: 500px;
	height: 500px;
	background-color: #151515;
	position: relative;
}

#kamu {
	position: absolute;
	height: 10px;
	width: 10px;
	background-color: blue;
}

.bom {
	height: 10px;
	width: 10px;
	background-color: #EB0000;
	border-radius: 50%;
	position: absolute;
}

#tombolNavigasi {
	display: none;
}

button {
	margin: 10px;
	margin-right: 70px;
	height: 70px;
	width: 70px;
	border-radius: 50%;
}

#makanan {
	height: 10px;
	width: 10px;
	background-color: #56FF00;
	border-radius: 50%;
	position: absolute;
	animation: kedip 1s linear infinite;
}

#wm {
	color: #eee;
	opacity: 0.5;
}

/* animasi */
@keyframes kedip {
	50% {
		opacity: 0.3;
		box-shadow: 0 0 50px rgba(255, 255, 255, 1);
	}
}